@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: url(../bg2_black.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
}

a {
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: Slipknot;
    src: url(/slipknot/font/Sickness.ttf);
}

nav {
    height: 80px;
    width: 100%;
    text-align:justify;
    text-transform: uppercase;
}

nav ul {
    display: inline-flex;
    list-style: none;
    float: right;
}

nav ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #FFF2E7;
    
}

.sub-menu-1 {
    display: none;
}

nav ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: rgb(26, 24, 24);
    margin-top: 15px;
    margin-left: -38px;
}

nav ul li:hover .sub-menu-1 ul {
    display: block;
}

nav ul li:hover .sub-menu-1 ul li {
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li:hover .sub-menu-1 ul li:hover {
    background-color: #e64717;
}

a.active {
    border-bottom: 1px solid white;
    transition: .5s;
}

label.logo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}

.logo_page {
    height: 100px;
}

h1 {
    text-align: center;
    font-family: Slipknot;
    color: white;
}

.conteudo {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-weight: 400;
    font-size: 82px;
    color: #FFF2E7;
    font-family: Slipknot;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala' , sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    margin-top: 50px;
    padding-top: 48px;
    font-family: Slipknot;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 80px;
    color: #FFF2E7;
    margin-bottom: 16px;
    text-align: center;
    
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala' , sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.paragrafo {
    font-family: 'Sarala' , sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #ECD6C4;
    text-align: center;
    margin: 10px 10px;
}

.paragrafo-2 {
    text-align: justify;
    font-family: 'Sarala' , sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin: 10px 10px;
    color: #ECD6C4;
    margin-left: 50px;
}

.paragrafo-3 {
    text-align: center;
    font-family: 'Sarala' , sans-serif;
    font-weight: 300;
    font-size: 50px;
    margin-top: 100px;
    color: #ECD6C4;
 
}


.conteudo-principal-escrito-subtitulo-2 {
    font-family: Slipknot;
    color: white;
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
}

.soad {
    border-radius: 50px;
    margin-right: 100px;
    margin-left: 100px;
}