<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AGRADECEMOS SEUS FEEDBACK</title>
    <link rel="stylesheet" href="../css/obrigado.css" />
  </head>
  <body class="main">
    <h1 class="text">Obrigado pelo seu feedaback rockstar!</h1>
    <p class="paragrafo">
      Em breve nós entraremos em contato para que possamos discutir as melhorias
      do nosso site!
    </p>
    <button class="btn">Voltar</button>
  </body>
</html>
